<%- include('partials/head') %>
<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p>ITENS SALVOS OU MINHA BIBLIOTECA<%= title %></p>
    <h1>Meus estudos</h1>
    <!-- Página para usuario criar e salvar seus orgonograma de estudo
    Pagiana deve conter:
        AGENDA
        CALENDÁRIO
        LISTA DE AFAZERES
    Possibilidade do usuario editar sua agenda de compromissos relacionadas aos estudos
    criar alertas e depais necessidades relacionadas ao percurso acadêmico
            Referencias ao moodle e google classroon-->
<%- include('partials/footer') %>
